<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>FideFlights</title>
</head>
<body>
    <header>
        <h1>FideFlights - Viaja con nosotros</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Destinos</a></li>
            <li><a href="#">Reservaciones</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <main>
        <section id="video-section">
            <h2>Destinos Increíbles te Esperan</h2>
            <div class="video-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BLJqoINWxoo" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>
    </main>
    <footer>
        <p>2023 FideFlights. Todos los derechos reservados.</p>
    </footer>
</body>
</html>